<h1>User info</h1>
<%= attachment_image_tag current_user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
<div class="row">
  <div class="col-sm-6">
   <p>name</p>
  </div>
  <div class="col-sm-6">
   <p><%= current_user.name %></p>
  </div>
</div>

<div class="row">
 <div class="col-sm-6">
   <p>introduction</p>
 </div>
 <div class="col-sm-6">
   <p><%= current_user.introduction %></p>
 </div>
</div>

<%= link_to "edit", edit_user_path(current_user.id) %>